{% extends 'base.html' %}
{% block content %}

    <div class="content container-fluid">
               <div class="page-header">
                  <div class="row align-items-center">
                     <div class="col">
                        <h3 class="page-title">Topic Info</h3>
                        <ul class="breadcrumb">
                           <li class="breadcrumb-item"><a href="">Student</a></li>
                           <li class="breadcrumb-item active">View Topic Info</li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-sm-12">
                  {% include 'includes/messages.html' %}
                     <div class="card card-table">
                        <div class="card-body">
                           <div class="table-responsive">
                              <table id="table_id" class="table table-hover table-center mb-0">
                                 <thead>
                                    <tr>
                                       <th>Title</th>
                                       <th>Abstract</th>
                                       <th>Submitted On</th>
                                       <th>Remarks</th>
                                       <td>Updated On</td>
                                       <th>Status</th>
                                       <th>Action</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                 {% if topic_data %}
                                 <tr>
                                    <td>
                                          {{ topic_data.title }}
                                    </td>
                                    <td>
                                       {% if topic_data.file %}
                                       <a href="{{ topic_data.file.url }}" download>View File</a>
                                       {% else %}
                                       No file uploaded
                                       {% endif %}
                                    </td>
                                    <td>
                                       {{ topic_data.submitted_on }}
                                    </td>
                                    <td>
                                       {% if topic_data.remarks %}
                                       {{ topic_data.remarks }}
                                       {% else %}
                                       No Remarks
                                       {% endif %}
                                    </td>
                                    <td>
                                       {{ topic_data.updated_on }}
                                    </td>
                                    <td>
                                       {{ topic_data.status }}
                                    </td>
                                    <td class="text-right">
                                       {% if topic_data.status == 'Added' %}
                                       <div class="actions">
                                          <!-- Button trigger modal -->
                                          <button type="button" class="btn btn-sm btn-warning" data-toggle="modal" data-target="#exampleModal">
                                             <i class="fas fa-pen"></i>
                                          </button>
                                          <a href="{% url 'delete_topic' topic_data.id %}" class="btn btn-sm bg-danger-light">
                                          <i class="fas fa-trash"></i>
                                          </a>
                                       </div>
                                       {% else %}
                                       <div class="actions">
                                          <button class="btn btn-sm bg-success-light mr-2" disabled>
                                          <i class="fas fa-pen"></i>
                                          </button>
                                          <button class="btn btn-sm bg-danger-light" disabled>
                                          <i class="fas fa-trash"></i>
                                          </button>
                                       </div>
                                       {% endif %}
                                    </td>
                                 </tr>

                                 {% else %}
                                    You are not assigned to any groups. Please Contact Cooridinator for more details. 
                                 {% endif %}
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
 
 <!-- Modal -->
 <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="exampleModalLabel">Edit Topic Details</h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body">
         <form method="post" action="{% url 'edit_topic' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ topic_form.as_p }}
            <button type="submit" class="btn btn-primary">Save changes</button>

         </form>
       </div>
       </div>
     </div>
   </div>
 </div>

{% endblock%}